@model MVCValidation.Models.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer</title>
</head>
<body>
    <div> 
        @Model.CustomerCode <br />
        @Model.CustomerName
    </div>
</body>
</html>
