
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EnterProduct</title>
</head>
<body>
    <div> 
        <form action="Submit" method="post">
            Product Code:
            <input name="ProductCode" type="text" /> <br />
            Product Name:
            <input name="ProductName" type="text" /> <br />
            <input id="btnSubmit" type="submit" value="submit" />
        </form>
    </div>
</body>
</html>
