@model MVCModel.Models.Product

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product</title>
</head>
<body>
    <div> 
        Code: @Model.ProductCode <br />
        Name: @Model.ProductName
    </div>
</body>
</html>
