
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EnterStudent</title>
</head>
<body>
    <div> 
        <form action="Submit" method="post">
            Student Code:
            <input name="txtStudentCode" type="text" /> <br />
            Student Name:
            <input name="txtStudentName" type="text" /> <br />
            <input id="btnSubmit" type="submit" value="submit" />
        </form>
    </div>
</body>
</html>
