@model MVCModel.Models.Student

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student</title>
</head>
<body>
    <div> 
        Student Code: @Model.StudentCode <br />
        Student Name: @Model.StudentName
    </div>
</body>
</html>
