@model MVCModel.Models.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer</title>
</head>
<body>
    <div> 
        Customer Code: @Model.CustomerCode <br />
        Customer Name: @Model.CustomerName
    </div>
</body>
</html>
