
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EnterCustomer</title>
</head>
<body>
    <div>
        <form action="Submit" method="post">
            <span class="label label-default">Customer Code:</span>
            <input name="CustomerCode" type="text" /> <br />
            <span class="label label-default">Customer Name:</span>
            <input name="CustomerName" type="text" /> <br />
            <input id="btnSubmit" type="submit" value="submit" />
        </form>
    </div>
</body>
</html>
